{% extends 'base.html.twig' %}

{% block title %}Nouveau élément{% endblock %}

{% block body %}
    <h1>Créer nouveau Element</h1>

    {{ include('element/_form_dev_new.html.twig') }}

    <a class="btn btn-edit m-3" href="{{ path('backlog') }}">back to list</a>
{% endblock %}
